body{
    background: url(IMAGES/shopping-back.png) no-repeat;
    background-size: cover;
    color: ;
}

.form{
    margin: auto !important;
    width: 80%;
    margin-left: 50px;
    background-color:rgb(201, 204, 204) ;
}
.inputContainer i {
    position: absolute;
 }
 .inputContainer {
    width: 100%;
    margin-bottom: 10px;
 }
 .icon {
    padding: 13px;
    padding-left: 17px !important;
    color:rgb(94, 89, 89);
   // color: rgb(49, 0, 128);
    width: 70px;
    margin-left: 20px;
    text-align: left;
 }
 .Field {
    padding-left: 25px;
    text-align: left;
    //font-weight: 500;
    color:gray;

 }
 .email{
    margin-right: 32px;
 }
#us{
    //margin-left: 40px;
    padding-top: 15px;
    //text-decoration: underline;
    font-family: 'Sacramento', cursive; 
}
#us::first-letter{
    font-size: 50px;
}
h3{
    margin-left: 45px;
    text-decoration: underline;
}
.lab{
    margin-left: 50px;
    font-weight: bold;
}
.in{
    border-radius: 10px;
    border: 2px solid rgb(187, 179, 179);
    height: 25px;
    width: 250px;
    margin-left: 30px;
    margin-top: 7px;
}
.nm{
    margin-left:45px !important ;
    width: 273px !important;
}
textarea{
    padding-left: 15px;
    font-weight: 500;
    margin-left: 173px;
    margin-top: -15px;
    border-radius: 7px;
    border: 2px solid rgb(187, 179, 179);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .i{
     margin-left: 160px;
     margin-top: -23px !important;
 }
 textarea::placeholder{
     padding-left: 10px;
 }
 .cit{
     margin-left: 85px !important;
 }
.gender{
    margin-left: 55px;
}
.hoby{
    margin-left:55px;
    margin-top: 25px;
}
.la{
    margin-bottom: -20px;
}
.text{
    border-radius: 10px;
    border: 2px solid rgb(187, 179, 179);
    margin-left: 28px;
}
.code{
    margin-top: 10px;
}
.btnn{
   
    margin:10px 0px 0px 180px ;
    height: 30px;
    width: 150px;
    border: 2px solid rgb(187, 179, 179);;
    border-radius: 7px; 
}
.dont{
    margin-top: 32px;
    color: gray;
}
.reg{
    margin-top: 32px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 0px;
}
.home{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 30px;
    width: 200px;
    border: 2px solid rgb(187, 179, 179);;
    border-radius: 7px; 
}



